extends ../layout

block content
    include ../mixins/order
    div.container.blog
        div.content
            div.menu-header-row
                h1.menu-title=menu.title
                a.button(href=`/menu/${menu.id}/edit`) Edit
            p.published-on Published
                strong.emphasize #{menu.chef_id.first_name}
            img.blog-image(src=menu.image_url)
            p.article-body=menu.body

            div.order-section
                h3.order-section-title Order (#{menu.order.length})
                div.order-form
                    form(action=`/menu/${menu.id}/order/create` method='post')
                        div.input-container.wide
                            label(for="chef_name").form-label Your Name
                            input(type="text" name="chef_name" id="chef_name" required=true)
                        div.input-container.wide
                            textarea(placeholder="Your comment here..." required=true name="body" id="body" cols="80" rows="5")
                        div
                            button.button.primary(type="submit") Comment

                ul.order-list
                    each order in menu.order
                        li
                            +order(order)